@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>Accenture Academy</h3>

<address>
    Accenture Argentina<br />
    Mar del Plata, Av. Independencia 4250<br />
    <abbr title="Phone">Telefono:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@accenture.com">Support@accenture.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@accenture.com">Marketing@accenture.com</a>
</address>