@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteca</h1>
    <p class="lead">Encuentra tus libros favoritos desde este sitio, tambien puedes, agregar informacion, editar o eliminar</p>
    <p><a href="~/libro/Listar" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-search"></span> Busqueda &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Agregar</h2>
        <p>
            Añade contenido a la pagina, cargando tus libros.
        </p>
        <p><a class="btn btn-info btn-lg" href="~/libro/Agregar"><span class="glyphicon glyphicon-plus"></span>Agregar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Catalogo</h2>
        <p>Catalago completo de libros</p>
        <p><a class="btn btn-info btn-lg" href="~/libro/Listar"><span class="glyphicon glyphicon-pencil"></span> Catalogo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>No dude en ponerse en contacto con nosotros por el contenido de este sitio.</p>
        <p><a class="btn btn-info btn-lg" href="~/Home/Contact"><span class="glyphicon glyphicon-envelope"></span> Contactenos &raquo;</a></p>
    </div>
</div>